* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding-right: 50px;
  padding-left: 50px;
}

footer {
  background-color: #000000;
}
footer .link-footer {
  color: #ffffff;
}
footer p {
  color: #808080;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1, h2, button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 30px;
}

#accueil {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg") no-repeat center/cover;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 100vh;
}

.button-title, header, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, nav ul {
  gap: 20px;
}

header {
  height: 3vw;
  width: 100%;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
}
header nav li {
  list-style: none;
}

.accueil-container {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.accueil-container h1 {
  border: 1px solid #ffffff;
  text-transform: uppercase;
  line-height: 115%;
  color: #ffffff;
  font-size: 5vw;
  padding: 30px 60px 30px 30px;
  margin-top: 10%;
}

#about {
  display: flex;
  position: relative;
}
#about article {
  background-color: #ffffff;
  width: 45%;
  height: 320px;
  position: absolute;
  top: 200px;
  left: 600px;
  z-index: 1;
  padding: 67px;
}
#about article h2 {
  margin-bottom: 20px;
}
#about img {
  width: 60%;
}

.button-title {
  justify-content: space-between;
  margin-bottom: 35px;
}
.button-title h2, .button-title button {
  text-transform: uppercase;
}
.button-title button {
  font-family: "Alata", sans-serif;
  font-size: 10px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 0;
}

.galery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.galery button {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 25px;
  border: none;
  text-align: left;
  width: 20%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: no-repeat center/cover;
  transition: 0.4s;
}
.galery button:hover {
  font-weight: bold;
  transform: scale(0.97);
}
.galery .b1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-deep-earth.jpg");
}
.galery .b2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-night-arcade.jpg");
}
.galery .b3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-soccer-team.jpg");
}
.galery .b4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-grid.jpg");
}
.galery .b5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-from-above.jpg");
}
.galery .b6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-pocket-borealis.jpg");
}
.galery .b7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-curiosity.jpg");
}
.galery .b8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-fisheye.jpg");
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
  margin-right: 20px;
}
footer .footer-links {
  display: flex;
}

.icons-social-media {
  margin-top: 20px;
}

.icons-social-media img {
  padding-right: 10px;
}

section {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 80px;
}

/*# sourceMappingURL=style.css.map */
