* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding-right: 50px;
  padding-left: 50px;
}

footer {
  background-color: #000000;
}
footer .link-footer {
  color: #ffffff;
}
footer p {
  color: #808080;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1, h2, button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 30px;
}

#accueil {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg") no-repeat center/cover;
  padding-top: 50px;
  padding-bottom: 60px;
  height: 100vh;
}

.button-title, header, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, nav ul {
  gap: 20px;
}

header {
  height: 3vw;
  width: 100%;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
header nav a:hover {
  text-decoration: underline;
}
header nav li {
  list-style: none;
}

.burger {
  display: none;
}

.accueil-container {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.accueil-container h1 {
  border: 1px solid #ffffff;
  text-transform: uppercase;
  line-height: 115%;
  color: #ffffff;
  font-size: 5vw;
  padding: 30px 60px 30px 30px;
  margin-top: 10%;
}

@media (max-width: 700px) {
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
  header nav a {
    margin-left: 0;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    gap: 50px;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .menu-open {
    transform: translateX(0);
  }

  .burger,
.logo {
    margin-top: 50px;
    padding: 0 30px;
    z-index: 1;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger span {
    margin: 6px 0;
    width: 40px;
    height: 5px;
    background: black;
    border-radius: 54px;
    display: block;
  }

  .burger-cross span:first-child {
    transform: rotate(45deg) translate(7px, 8px);
  }

  .burger-cross span:last-child {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .burger-cross span:nth-child(2) {
    opacity: 0;
  }
}
#about {
  position: relative;
}
#about img {
  width: 700px;
}
#about article {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 40%;
  background-color: #ffffff;
  padding: 50px;
  text-align: justify;
}
#about article h2 {
  margin-bottom: 20px;
  text-align: left;
}

@media screen and (max-width: 1370px) {
  #about article {
    top: 50%;
  }
}
@media screen and (max-width: 1270px) {
  #about {
    position: initial;
    display: flex;
    justify-content: space-between;
  }
  #about img {
    width: 450px;
  }
  #about article {
    position: initial;
    padding: 15px;
  }
}
@media screen and (max-width: 940px) {
  #about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about article {
    width: 350px;
  }
}
@media screen and (max-width: 540px) {
  #about img {
    width: 280px;
  }
  #about article {
    width: 280px;
  }
}
.button-title {
  justify-content: space-between;
  margin-bottom: 35px;
}
.button-title h2, .button-title button {
  text-transform: uppercase;
}
.button-title button {
  font-family: "Alata", sans-serif;
  font-size: 10px;
  padding: 5px 24px;
  letter-spacing: 0.3em;
  background-color: #ffffff;
  border-radius: 0;
}
.button-title button:hover {
  background: #000000;
  color: #ffffff;
}

.galery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.galery button {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 25px;
  border: none;
  text-align: left;
  width: 20%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: no-repeat center/cover;
  transition: 0.4s;
}
.galery button:hover {
  font-weight: bold;
  transform: scale(0.97);
}
.galery .b1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-deep-earth.jpg");
}
.galery .b2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-night-arcade.jpg");
}
.galery .b3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-soccer-team.jpg");
}
.galery .b4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-grid.jpg");
}
.galery .b5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-from-above.jpg");
}
.galery .b6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-pocket-borealis.jpg");
}
.galery .b7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-curiosity.jpg");
}
.galery .b8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/desktop/image-fisheye.jpg");
}

@media screen and (max-width: 920px) {
  .galery button {
    width: 40%;
    align-items: left;
  }
}
@media screen and (max-width: 620px) {
  .galery {
    flex-direction: column;
  }
  .galery button {
    width: 100%;
    height: 150px;
    padding-bottom: 20px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
  margin-right: 20px;
}
footer .footer-links {
  display: flex;
}

.icons-social-media {
  margin-top: 20px;
}

.icons-social-media img {
  padding-right: 10px;
}

@media (max-width: 900px) {
  footer {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  a.link-footer {
    margin-bottom: 20px;
  }

  .icons-social-media {
    text-align: center;
    margin-bottom: 20px;
  }
}
section {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
  section {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
