//  SECTION ABOUT
#about{
    
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;

    article {
    
        background-color: $white;
        // margin-left: -300px;
        // margin-top: 240px;
        padding: 67px; 
    }

    article h2{
        margin-bottom: 20px;
    } 
    img{
        
    }
}
// MEDIA QUERIES ABOUT
@media screen and (min-width: 1042px){

    #about{
        flex-direction: row;
    }
   
    article {
        margin-left: -300px;
        margin-top: 240px;
         
    }

}

    


