#accueil {
    background: $degrade-accueil, url("../images/desktop/image-hero.jpg") no-repeat center / cover;
    padding-top: 50px;
    padding-bottom: 60px;
    height: 100vh;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header, nav ul {
    @extend %flex; 
    gap: 20px;    
}

header {
    height: 3vw;
    width: 100%;
    
    nav {
        a{
            text-decoration: none;
            color:$white;  
        }
    
        li {
            list-style: none;
        }
    }
}


.accueil-container {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        border: 1px solid $white;
        text-transform: uppercase;
        line-height: 115%;
        color: $white;
        font-size: 5vw;
        padding: 30px 60px 30px 30px;
        margin-top: 10%;
    }  
}
