#accueil {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg") top;
    padding-top: 50px;
    padding-bottom: 60px;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header, nav ul {
    @extend %flex; 
    gap: 20px;   
}

.logo {
    height: 25px;
}

nav {
    a{
        text-decoration: none;
        color:$white;  
    }

    li {
        list-style: none;
    }
}

.accueil-container {
    border: 1px solid $white;
    width: 48%;
    padding: 18px;
    margin: 90px 0;

    h1 {
        text-transform: uppercase;
        color: $white;
        font-size: 58px;
        margin: 0;
    }  
}
