#accueil {
    background: $degrade-accueil, url("../images/desktop/image-hero.jpg") no-repeat center / cover;
    padding-top: 50px;
    padding-bottom: 60px;
    height: 100vh;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header, nav ul {
    @extend %flex; 
    gap: 20px;    
}

header {
    height: 3vw;
    width: 100%;

    nav {
        a{
            text-decoration: none;
            color:$white;
            font-family: $josefin-font;
            text-transform: uppercase;  

            &:hover {
                text-decoration: underline;
            }
        }
    
        li {
            list-style: none;
        }
    }
}

.burger {
    display: none;
}

.accueil-container {
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        border: 1px solid $white;
        text-transform: uppercase;
        line-height: 115%;
        color: $white;
        font-size: 5vw;
        padding: 30px 60px 30px 30px;
        margin-top: 10%;
    }  
}

@media (max-width: 700px) {

    header {

        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                flex-direction: column;
                align-items: center;
            }
            a {
                margin-left: 0;
            }
        } 
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $black;
        gap: 50px;
        transform: translateX(100%);
        transition: 0.5s;
    }

   

    .menu-open {
        transform: translateX(0);
    }


    .burger, 
    .logo {
        margin-top: 50px;
        padding: 0 30px;
        z-index: 1;
       
    }

    .burger {
        display: block;
        cursor: pointer;
    }
   
    .burger span {
        margin: 6px 0;
        width: 40px;
        height: 5px;
        background: white;
        border-radius: 54px;
        display: block;
    }

    .burger-cross span:first-child {
        transform: rotate(45deg) translate(7px, 8px);
    }
    .burger-cross span:last-child {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .burger-cross span:nth-child(2) {
        opacity: 0;
    }
    
    
}