.button-title {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 35px;

    h2, button {
        text-transform: uppercase;
    }

    button {
        font-family: $alata-font;
        font-size: 10px;
        padding: 4px;
        background-color: $white;
        border-radius: 0;
    }
}

.galery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

        button {
            color: $white;
            padding-bottom: 20px;
            font-size: 25px;
            border: none;
            text-align: left;
            width: 20%;
            height: 380px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: no-repeat center / cover;
            transition: 0.4s;
            

            &:hover {
                font-weight: bold;  
                transform: scale(0.97);
            }
        }

        .b1 {
            background-image: $degrade, url('../images/desktop/image-deep-earth.jpg');
        }
        
        .b2 {
            background-image: $degrade, url('../images/desktop/image-night-arcade.jpg');
            
        }
        
        .b3 {
            background-image: $degrade, url('../images/desktop/image-soccer-team.jpg');
           
        }
        
        .b4 {
            background-image: $degrade, url('../images/desktop/image-grid.jpg');
        }
        
        .b5 {
            background-image: $degrade, url('../images/desktop/image-from-above.jpg');
          
        }
        
        .b6 {
            background-image: $degrade, url('../images/desktop/image-pocket-borealis.jpg');
           
        }
        
        .b7 {
            background-image: $degrade, url('../images/desktop/image-curiosity.jpg');
            
        }
        
        .b8 {
            background-image: $degrade, url('../images/desktop/image-fisheye.jpg');
           
        }
}





