footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    
    a{
        text-decoration: none;
        margin-right: 20px;
    }
    .footer-links{
        display: flex;
    }
}

.icons-social-media{
    margin-top: 20px;
}

.icons-social-media img{
   padding-right: 10px;
}