@import "./accueil";
@import "./about";
@import "./creations";
@import "./footer";


section {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 80px;
    
}

@media screen and (max-width: 800px) {
    section {
        padding-left: 30px;
        padding-right: 30px;
    }
}